:root {
	--fOne: 'Economica', sans-serif;
}

::-webkit-scrollbar {
	display:none;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default h1 {
	display: none;
}

html {
	width: 360px;
	height: 565px;
	background: brown;
	font-family: var(--fOne);
}

body {
	margin: 0px;
	padding: 0px;
}

#thebody {
	margin-top: 200px;
}

#header {
	position: absolute;
	top: 0px;
	height: 100px;
	width: 100vw;
	z-index: 20;
	background: red;
}

#NotHeader {
	position: absolute;
	top: 80px;
	left: 40px;
	height: 80px;
	width: 80vw;
	background: green;
	z-index: 50;
}

.level {
	z-index: 10 !important;;
}

@media only screen and (min-width: 361px) {
	html {
		width: 100vw;
		height: 100vh;
		background: pink;
		font-family: 'Unica One', cursive;
	}
}
